<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-code"></i><h3>Code</h3><p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-terminal"></i><h3>Compile</h3><p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-github"></i><h3>Collaborate</h3><p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <hr class="my-4">
</div>